@tailwind base;
@tailwind components;
@tailwind utilities;

/* 将社交链接容器向下移动，考虑自适应 */
.Bi9DuiJufrziZoOBS4ZX {
  margin-top: 40px !important;
}

/* 平板设备 */
@media (max-width: 1024px) {
  .Bi9DuiJufrziZoOBS4ZX {
    margin-top: 30px !important;
  }
}

/* 移动设备 */
@media (max-width: 768px) {
  .Bi9DuiJufrziZoOBS4ZX {
    margin-top: 20px !important;
  }
}

/* 小屏幕移动设备 */
@media (max-width: 480px) {
  .Bi9DuiJufrziZoOBS4ZX {
    margin-top: 10px !important;
  }
}
